@import "../../styles/colors.scss";

.contentSection { 
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1184px;
    padding: 0px 20px;
    margin: 0 auto;
    gap: 30px;
    img {
        height: 40vh;
    }
}

@media (max-width: 1023.98px) {
    .contentSection {
        flex-direction: column;
        img {
            height: 30vh;
        }
    }
}