@import "../../styles/colors.scss";

.formTechnicalService{ 
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1184px;
    padding: 80px 150px;
    margin: 0 auto;
    gap: 30px;
}

.textProvider{
    text-align: center;
}

