@import "../../styles/colors.scss";

//estilos de formularios

.formLogin{ 
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1184px;
    padding: 60px 70px;
    margin: 0 auto;
    gap: 30px;
}

.textLogin{
    text-align: center;
}

//estilos de tabla de informaciòn

.userTables{
    padding: 70px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1184px;
    margin: 0 auto;

}

.contentUserDeayils{
    >div{
        width: 500px;
        margin-left: 100px;
    }
}
