@import "./colors.scss";
@import "./variables.scss";

.root {
  background-color: $white;
  min-height: calc(100vh - 80px);
  color: $textDark;
  display: flex;
  flex-direction: column;
  // padding-top: 80px;
}

.root::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
}
.rootAuth {
  margin-left: $widthMiniMenu;
  width: calc(100% - #{$widthMiniMenu});
  padding-top: 110px;
}

.rootAuthOpenMenu {
  margin-left: $drawerWidth;
  transition-duration: 195ms, 195ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1), cubic-bezier(0.4, 0, 0.6, 1);
  transition-delay: 0ms, 0ms;
  width: calc(100% - #{$drawerWidth});
}
