@import "../../styles/colors.scss";

//estilos de formularios

.formProduct{ 
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1184px;
    padding: 70px 70px;
    margin: 0 auto;
    gap: 30px;  
}

.textProvider{
    text-align: center;
}

//estilos de tabla de informaciòn

.productsTables{
    // padding: 70px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1184px;
    margin: 0 auto;

}

.contentDetailProduct {
    padding: 70px;
}

.cardDetails {
    display: flex;
    justify-content: space-between;
    img {
        height: 250px;
    }
}