@import "../../styles/colors.scss";

.formLogin{ 
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1184px;
    padding: 0px 20px;
    margin: 0 auto;
    gap: 30px;
}

.textLogin{
    text-align: center;
}

