@import "../../styles/colors.scss";


.menuAccount {
    overflow: visible;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.32));
    min-width: 220px !important;
}

.profileImage {
    width: 40px;
    height: 40px;
}

.drawerStyles {
    border-right: none !important;
}

.contentLogo {
    flex-grow: 1;
   
}

.contentLogoMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background: url("../../assets/images/fondo/logo_ImpriColors.png");
    background-size: cover;
    padding: 35px;
    background-repeat: no-repeat;
    background-size: 175px 80px;
   
    margin: 5px;
}

.menuItem {
    &:hover {
        background-color: $primary !important;
        color: $white;

        svg {
            color: $white;
        }
    }
}

.menuActive {
    background-color: $primary !important;
    color: $white !important;

    svg {
        color: $white;
    }
}