
.contentAvatar {
    background-color: red;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
}

.iconContainer {
    display: flex;
    justify-content: flex-end;
  }

  .formulacontent {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    
}